#p1{
    text-align: center;
    color: red;
    font-size: 40px;
}

#clockdiv{
	text-align: center;
	color: red;
	font-size: 60px;
}

#frm1
{
    text-align: center;
    color: black;
    font-size: 40px;
}

#Try
{
    color: blue;
    font-size: 50px;
}